* {
  margin: 0px;
}
/* latin-ext */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGIVzY4SY.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v14/NaPDcZTIAOhVxoMyOr9n_E7ffGjEGItzYw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "BebasNeue-Regular";
  src: url(/Asset/font/BebasNeue-Regular.ttf);
}
body {
  font-family: "BebasNeue-Regular";
  margin: 0;
  border: 0;
  padding: 0;
  width: 100vw;
  background-color: black;
  overflow-x: hidden;
  position: relative;
}
header {
  height: 7vh;
  min-height: 20px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px black;
  position: fixed;
  z-index: 1;
  top: 0px;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.navbarHeight {
  height: 100px;
}
.dropdown {
  opacity: 0;
  position: fixed;
  top: 8vh;
  right: 4%;
  width: 30vh;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.568);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
  transition: all 0.7s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.navbar_btn {
  color: white;
}
.navbar_btn:hover {
  cursor: pointer;
}

.navbar_logo {
  height: 60%;
  margin: 5%;
  z-index: 1;
}

.navbar_img {
  height: 40%;
  margin: 5%;
  opacity: 0.7;
  transition: all 0.5s;
}

.navbar_img:hover {
  opacity: 1;
}
.banner {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  background-color: rgb(0, 0, 0);
  position: relative;
  z-index: -1;
}

.bannerimg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  opacity: 0.5;
}

.bannerimgtitre {
  z-index: 1;
  width: 70%;
  height: 50%;
  object-fit: contain;
  top: 0px;
}

.section_sport {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
}

/*------*/
.sportContainer {
  height: auto;
  width: 100vw;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
}
.videoContainer {
  display: flex;
  justify-content: center;
  height: 150vh;
  width: 100vw;
}
@media screen and (max-width: 600px) {
  .videoContainer {
    display: none;
  }
}
video {
  height: auto;
  width: 100vw;
  transition: 1s;
  opacity: 1;
  overflow-x: hidden;
}
.videoJs {
  position: absolute;
  margin: 0 auto;
  opacity: 0;
  transition: 1s ease-in-out;
}
.display {
  position: absolute;
  margin: 0 auto;
  opacity: 1;
  transition: 1s ease-in-out;
}
/*Section Sport*/
.sectionSport div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 100%;
  height: 100vh;
}
.sectionSport div:nth-child(1) {
  background-attachment: fixed;
  background-image: url(/Asset/img/tennis.jpg);
  background-size: cover;
}
.sectionSport div:nth-child(2) {
  background: maroon;
}
.sectionSport div:nth-child(3) {
  background-attachment: fixed;
  background-image: url(/Asset/img/muscu.jpg);
  background-size: cover;
}
.section_sport div:nth-child(4) {
  background: black;
}
h2 {
  background-color: red;
  color: white;
  width: fit-content;
  padding: 2px 20px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-bottom: 7%;
  transform: skewX(-13deg);
}
.socials {
  padding: 0;
}
footer {
  font-family: "Titillium Web";
  background: #ccc;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 99vw;
  padding-top: 50px;
  height: 3%;
  background-image: url(/Asset/img/muscu.jpg);
  background-size: 100%;
  background-position: 25% 75%;
  z-index: -10;
}
.footerContent {
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 10px 10px 10px 0;
}
.footerContent ul {
  height: 50px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.footerContent i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 250%;
  color: rgb(255, 255, 255);
}
.footerContent i:hover {
  color: rgb(114, 114, 114);
  transition: 0.5s;
}
.footerContent a {
  text-decoration: none;
}
footer h4 {
  padding: 10px;
}
footer .filterFooter {
  background-color: rgba(0, 0, 0, 0.212);
  height: 100%;
  overflow: auto;
}
footer .textFooter {
  align-items: center;
  color: white;
}
footer h4 {
  color: white;
}
li {
  z-index: 20;
}
.filterBlack {
  background-color: rgba(0, 0, 0, 0.548);
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0%;
  display: flex;
}

/*Contact*/

input[type="text"],
textarea,
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}
label {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}

input[type="submit"] {
  background-color: #1255a2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #1872d9;
}

.containerContact {
  /* Ajouter box-sizing */
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  background-image: url();
  max-width: 440px;
  margin: 0 auto;
}
