* {
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: black;
  overflow-x: hidden;
}
header {
  height: 7vh;
  min-height: 20px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px black;
  position: fixed;
  z-index: 1;
  top: 0px;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.navbarHeight {
  height: 100px;
}
.dropdown {
  opacity: 0;
  position: fixed;
  top: 8vh;
  right: 4%;
  width: 30vh;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.568);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
  transition: all 0.7s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
}

.navbar_btn {
  color: white;
}
.navbar_btn:hover {
  cursor: pointer;
}

.navbar_logo {
  height: 60%;
  margin: 5%;
  z-index: 1;
}

.navbar_img {
  height: 40%;
  margin: 5%;
  opacity: 0.7;
  transition: all 0.5s;
}

.navbar_img:hover {
  opacity: 1;
}
.banner {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  background-color: rgb(0, 0, 0);
  position: relative;
  z-index: -1;
}

.bannerimg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  opacity: 0.5;
}

.bannerimgtitre {
  z-index: 1;
  width: 70%;
  height: 50%;
  object-fit: contain;
  top: 0px;
}

.section_sport {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
}

/*------*/
.sportContainer {
  height: auto;
  width: 100vw;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
}
.videoContainer {
  display: flex;
  justify-content: center;
  height: 150vh;
  width: 100vw;
}
video {
  height: auto;
  width: 100vw;
  transition: 1s;
  opacity: 1;
}
.videoJs {
  position: absolute;
  margin: 0 auto;
  opacity: 0;
  transition: 1s ease-in-out;
}
.display {
  position: absolute;
  margin: 0 auto;
  opacity: 1;
  transition: 1s ease-in-out;
}
.paragraphSport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150vh;
  width: 100vw;
  color: beige;
}
.sectionSport {
  background-color: black;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}
.titleSport {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 500%;
  padding: 20px;
}
.textSport {
  color: white;
  width: 50vw;
  align-self: center;
  margin: 0 auto;
  padding: 10px;
}
.whiteSport {
  height: 80vh;
  width: 100vw;
  background-color: white;
  z-index: 10;
}
.whiteTitle {
  color: black;
  width: 100%;
  text-align: center;
  font-size: 500%;
  padding: 20px;
}
.whiteText {
  color: black;
  width: 50vw;
  align-self: center;
  margin: 0 auto;
  padding: 10px;
}
