* {
  margin: 0px;
}

body {
  margin: 0;
  background-color: black;
}
header {
  height: 7vh;
  min-height: 20px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px black;
  position: fixed;
  z-index: 1;
  top: 0px;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.dropdown {
  opacity: 0;
  position: fixed;
  top: 8vh;
  right: 4%;
  width: 30vh;
  height: 40vh;
  background-color: rgba(0, 0, 0, 0.568);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
  transition: all 0.7s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navbar_btn {
  color: white;
}
.navbar_btn:hover {
  cursor: pointer;
}

.navbar_logo {
  height: 60%;
  margin: 5%;
  z-index: 1;
}

.navbar_img {
  height: 40%;
  margin: 5%;
  opacity: 0.7;
  transition: all 0.5s;
}

.navbar_img:hover {
  opacity: 1;
}
.banner {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  background-color: rgb(0, 0, 0);
  position: relative;
  z-index: -1;
}

.bannerimg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  opacity: 0.5;
}

.bannerimgtitre {
  z-index: 1;
  width: 70%;
  height: 50%;
  object-fit: contain;
  top: 0px;
}

.section_sport {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
}

/*------*/
.sportContainer {
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
}
video {
  height: 100vh;
  width: auto;
}
